<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.model.mapper.DeviclistMapper" >
  <resultMap id="BaseResultMap" type="com.model.pojo.Deviclist" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="DevicId" property="devicid" jdbcType="VARCHAR" />
    <result column="LuserID" property="luserid" jdbcType="INTEGER" />
    <result column="SessionId" property="sessionid" jdbcType="INTEGER" />
    <result column="PreviewHandle" property="previewhandle" jdbcType="INTEGER" />
    <result column="OrderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="VideoPath" property="videopath" jdbcType="VARCHAR" />
    <result column="StreamPath" property="streampath" jdbcType="VARCHAR" />
    <result column="AddTime" property="addtime" jdbcType="VARCHAR" />
    <result column="Pid" property="pid" jdbcType="INTEGER" />
    <result column="IsRunMp4" property="isrunmp4" jdbcType="INTEGER" />
    <result column="IsRunStream" property="isrunstream" jdbcType="INTEGER" />
  </resultMap>

  <delete id="decdeleteTable">
    delete from devicList
  </delete>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, DevicId, LuserID, SessionId, PreviewHandle, OrderNo, VideoPath, StreamPath, AddTime, 
    Pid, IsRunMp4, IsRunStream
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.pojo.DeviclistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from devicList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from devicList
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from devicList
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.pojo.DeviclistExample" >
    delete from devicList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.pojo.Deviclist" >
    insert into devicList (Id, DevicId, LuserID, 
      SessionId, PreviewHandle, OrderNo, 
      VideoPath, StreamPath, AddTime, 
      Pid, IsRunMp4, IsRunStream
      )
    values (#{id,jdbcType=INTEGER}, #{devicid,jdbcType=VARCHAR}, #{luserid,jdbcType=INTEGER}, 
      #{sessionid,jdbcType=INTEGER}, #{previewhandle,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, 
      #{videopath,jdbcType=VARCHAR}, #{streampath,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{isrunmp4,jdbcType=INTEGER}, #{isrunstream,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.pojo.Deviclist" >
    insert into devicList
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="devicid != null" >
        DevicId,
      </if>
      <if test="luserid != null" >
        LuserID,
      </if>
      <if test="sessionid != null" >
        SessionId,
      </if>
      <if test="previewhandle != null" >
        PreviewHandle,
      </if>
      <if test="orderno != null" >
        OrderNo,
      </if>
      <if test="videopath != null" >
        VideoPath,
      </if>
      <if test="streampath != null" >
        StreamPath,
      </if>
      <if test="addtime != null" >
        AddTime,
      </if>
      <if test="pid != null" >
        Pid,
      </if>
      <if test="isrunmp4 != null" >
        IsRunMp4,
      </if>
      <if test="isrunstream != null" >
        IsRunStream,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devicid != null" >
        #{devicid,jdbcType=VARCHAR},
      </if>
      <if test="luserid != null" >
        #{luserid,jdbcType=INTEGER},
      </if>
      <if test="sessionid != null" >
        #{sessionid,jdbcType=INTEGER},
      </if>
      <if test="previewhandle != null" >
        #{previewhandle,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="videopath != null" >
        #{videopath,jdbcType=VARCHAR},
      </if>
      <if test="streampath != null" >
        #{streampath,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="isrunmp4 != null" >
        #{isrunmp4,jdbcType=INTEGER},
      </if>
      <if test="isrunstream != null" >
        #{isrunstream,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.pojo.DeviclistExample" resultType="java.lang.Integer" >
    select count(*) from devicList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update devicList
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.devicid != null" >
        DevicId = #{record.devicid,jdbcType=VARCHAR},
      </if>
      <if test="record.luserid != null" >
        LuserID = #{record.luserid,jdbcType=INTEGER},
      </if>
      <if test="record.sessionid != null" >
        SessionId = #{record.sessionid,jdbcType=INTEGER},
      </if>
      <if test="record.previewhandle != null" >
        PreviewHandle = #{record.previewhandle,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null" >
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.videopath != null" >
        VideoPath = #{record.videopath,jdbcType=VARCHAR},
      </if>
      <if test="record.streampath != null" >
        StreamPath = #{record.streampath,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        AddTime = #{record.addtime,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        Pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.isrunmp4 != null" >
        IsRunMp4 = #{record.isrunmp4,jdbcType=INTEGER},
      </if>
      <if test="record.isrunstream != null" >
        IsRunStream = #{record.isrunstream,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update devicList
    set Id = #{record.id,jdbcType=INTEGER},
      DevicId = #{record.devicid,jdbcType=VARCHAR},
      LuserID = #{record.luserid,jdbcType=INTEGER},
      SessionId = #{record.sessionid,jdbcType=INTEGER},
      PreviewHandle = #{record.previewhandle,jdbcType=INTEGER},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      VideoPath = #{record.videopath,jdbcType=VARCHAR},
      StreamPath = #{record.streampath,jdbcType=VARCHAR},
      AddTime = #{record.addtime,jdbcType=VARCHAR},
      Pid = #{record.pid,jdbcType=INTEGER},
      IsRunMp4 = #{record.isrunmp4,jdbcType=INTEGER},
      IsRunStream = #{record.isrunstream,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.pojo.Deviclist" >
    update devicList
    <set >
      <if test="devicid != null" >
        DevicId = #{devicid,jdbcType=VARCHAR},
      </if>
      <if test="luserid != null" >
        LuserID = #{luserid,jdbcType=INTEGER},
      </if>
      <if test="sessionid != null" >
        SessionId = #{sessionid,jdbcType=INTEGER},
      </if>
      <if test="previewhandle != null" >
        PreviewHandle = #{previewhandle,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="videopath != null" >
        VideoPath = #{videopath,jdbcType=VARCHAR},
      </if>
      <if test="streampath != null" >
        StreamPath = #{streampath,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        AddTime = #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        Pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="isrunmp4 != null" >
        IsRunMp4 = #{isrunmp4,jdbcType=INTEGER},
      </if>
      <if test="isrunstream != null" >
        IsRunStream = #{isrunstream,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.pojo.Deviclist" >
    update devicList
    set DevicId = #{devicid,jdbcType=VARCHAR},
      LuserID = #{luserid,jdbcType=INTEGER},
      SessionId = #{sessionid,jdbcType=INTEGER},
      PreviewHandle = #{previewhandle,jdbcType=INTEGER},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      VideoPath = #{videopath,jdbcType=VARCHAR},
      StreamPath = #{streampath,jdbcType=VARCHAR},
      AddTime = #{addtime,jdbcType=VARCHAR},
      Pid = #{pid,jdbcType=INTEGER},
      IsRunMp4 = #{isrunmp4,jdbcType=INTEGER},
      IsRunStream = #{isrunstream,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>